p
{     
   font-size: xxxx-large;
}
#heading
{
    font-size: x-large;
}
#text-book
{
    font-size: medium;
    text-indent: 4%;
}
#text
{
    font-size: small;
    text-indent: 9%;
}

